[submodule "hardware/kicad/libs"]
	path = hardware/kicad/libs
	url = https://github.com/calicopizzadelivery/ecad-libraries.git
[submodule "hardware/kicad/standards"]
	path = hardware/kicad/standards
	url = https://github.com/calicopizzadelivery/ecad-standards
